/* .navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    top: -50px;
    left: 0;
    right: 0;
    background-color: white;
    /* z-index: 1000; */
}


.logo {
    width: 200px;
    top: 50px;
    height: auto;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: rgb(59, 34, 82);
    font-size: 19px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;

}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: rgb(71, 187, 196);
    border: 1px solid rgb(114, 48, 36);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: rgb(238, 205, 245);

}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(34, 142, 150);
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: rgb(180, 71, 50);
    border-radius: 5px;
    top: -8px;
    right: -8px;

}

@media (max-width:1050px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo {
        width: 140px;
    }

    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        padding: 7px 20px;
        font-size: 16px;
    }
}

@media (max-width:750px) {
    .navbar-menu {
        display: none;
    }
}